<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ChambeaPetheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.CrearUsuario"
            android:exported="false" />
        <activity
            android:name=".ui.EditarPerfilUsuario"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.PerfilUsuario"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.Login"
            android:exported="true"
            android:theme="@style/ChambeaPetheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegistrarUsuario"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.ValidarCodigoSMS"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ChambeaPetheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.EnviarCodigoSMS"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ChambeaPetheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.VerAnuncioTrabajador"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.VerTrabajadoresCercanos"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.VerOfertasCercanas"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.ValidacionIdentidad"
            android:exported="true"
            android:theme="@style/ChambeaPetheme"></activity>
        <activity
            android:name=".ui.Notificaciones"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
        <activity
            android:name=".ui.GestionarContactos"
            android:exported="true"
            android:theme="@style/ChambeaPetheme" />
    </application>

</manifest>